[Unit]
Description=Gunicorn instance to serve AirBnB clone
After=network.target

[Service]
User=salihabrik
Group=salihabrik
WorkingDirectory=/home/salihabrik/AirBnB_clone_v4
ExecStart=/home/salihabrik/AirBnB_clone_v4/bin/gunicorn --bind 0.0.0.0:5003 --workers 3 web_dynamic.2-hbnb:app
Restart=always
SyslogIdentifier=gunicorn
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target
